/.idea
/cmake-build-debug
sample-files/*
CMakeLists.txt
*.o
main
zdrojak.txt
LLgramar
ifj_test.py
error_detection_test
backup.txt
README.md
test_list.txt
logs/
testsuites/
.signals
parser_backup.c
parser_backup2.c
/bugs_precedence
/parser_backup.txt
